# Core
fastapi
uvicorn
python-dotenv
pydantic[email]
loguru

# Database
pymysql
mysql-connector-python

# Google Sheets
google-auth
google-auth-oauthlib
gspread
google-api-python-client

# LangChain / RAG
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
faiss-cpu
pypdf